In [18]:
import numpy as np
from sklearn.covariance import EmpiricalCovariance

In [3]:
# read a file and convert it into array with shape (n_sample, n_features)
# dataset is available at https://github.com/QuantLet/MVA/tree/master/QID-945-MVApcabank
path = 'F:/fall-20/ime692/lecture1/bank2.txt'
data = np.loadtxt(path)
print(data.shape) # dimension of the dataset

(200, 6)

In [4]:
data[:5,] # first five rows
#copy first 100 rows -genuine, remaining -counterfeit
fake = np.copy(data) # because modified and original array share memory block
fake1 = fake[100:,]

In [5]:
print(fake1.shape)
fake1[:5,]

(100, 6)

array([[214.4, 130.1, 130.3,   9.7,  11.7, 139.8],
       [214.9, 130.5, 130.2,  11. ,  11.5, 139.5],
       [214.9, 130.3, 130.1,   8.7,  11.7, 140.2],
       [215. , 130.4, 130.6,   9.9,  10.9, 140.3],
       [214.7, 130.2, 130.3,  11.8,  10.9, 139.7]])

In [6]:
genuine = data[:100,]
print(genuine.shape)
genuine[95:,]

(100, 6)

array([[215.6, 129.9, 129.9,   9. ,   9.5, 141.7],
       [215. , 130.4, 130.3,   9.1,  10.2, 141.1],
       [214.4, 129.7, 129.5,   8. ,  10.3, 141.2],
       [215.1, 130. , 129.8,   9.1,  10.2, 141.5],
       [214.7, 130. , 129.4,   7.8,  10. , 141.2]])

In [7]:
covf = EmpiricalCovariance().fit(fake1)

In [8]:
covg = EmpiricalCovariance().fit(genuine)
covf1 = np.round(covg.covariance_, decimals=3)
covg1 = np.round(covf.covariance_, decimals=3)

In [9]:
import pandas as pd
pd.DataFrame(covf1, columns=('V1', 'v2', 'v3', 'v4', 'V5', 'V6'), 
             index=('V1', 'v2', 'v3', 'v4', 'V5', 'V6'))

       V1     v2     v3     v4     V5     V6
V1  0.149  0.057  0.057  0.057  0.014  0.005
v2  0.057  0.131  0.085  0.056  0.049 -0.043
v3  0.057  0.085  0.125  0.058  0.030 -0.024
v4  0.057  0.056  0.058  0.409 -0.261 -0.000
V5  0.014  0.049  0.030 -0.261  0.417 -0.075
V6  0.005 -0.043 -0.024 -0.000 -0.075  0.198

In [10]:
pd.DataFrame(covg1, columns=('V1', 'v2', 'v3', 'v4', 'V5', 'V6'), 
             index=('V1', 'v2', 'v3', 'v4', 'V5', 'V6'))
#v4 has negative correlation with other variables

       V1     v2     v3     v4     V5     V6
V1  0.123  0.031  0.024 -0.100  0.019  0.011
v2  0.031  0.064  0.046 -0.024 -0.012 -0.005
v3  0.024  0.046  0.088 -0.018  0.000  0.034
v4 -0.100 -0.024 -0.018  1.269 -0.485  0.236
V5  0.019 -0.012  0.000 -0.485  0.400 -0.022
V6  0.011 -0.005  0.034  0.236 -0.022  0.308

In [20]:
#correlation matrix
diagf = np.diag(covf1)
l1 = np.sqrt(diagf)
num = np.ones(6)
d1 = np.divide(num, l1)

In [23]:
s = np.diag(d1)
R = np.matmul(s, covf1)
R1 = np.matmul(R, s)

pd.DataFrame(np.round(R1, decimals=3), columns=('V1', 'v2', 'v3', 'v4', 'V5', 'V6'),
            index=('V1', 'v2', 'v3', 'v4', 'V5', 'V6'))

       V1     v2     v3     v4     V5     V6
V1  1.000  0.408  0.418  0.231  0.056  0.029
v2  0.408  1.000  0.664  0.242  0.210 -0.267
v3  0.418  0.664  1.000  0.257  0.131 -0.153
v4  0.231  0.242  0.257  1.000 -0.632  0.000
V5  0.056  0.210  0.131 -0.632  1.000 -0.261
V6  0.029 -0.267 -0.153  0.000 -0.261  1.000